@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Condensed&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.content {
    height: 100vh;
}

.text-content {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 5px 15px;
    transform: translate(-50%, -50%);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 78px;
    box-shadow: 2px 2px 5px;
    backdrop-filter: blur(5px);
}

.container {
    width: 100%;
    max-width: 760px;
    margin: 0 auto;
    padding: 0 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
